# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
.env
.venv
staticfiles/
test_*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (Frontend)
**/node_modules/
**/dist/
**/build/
**/.npm/
**/.pnpm-store/

# Vite
*.local
**/.vite/

# TypeScript
*.tsbuildinfo

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package manager lock files 
# package-lock.json
# yarn.lock
# pnpm-lock.yaml