asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
sqlparse==0.5.4

# Development/Testing
coverage==7.4.0
flake8==7.0.0
black==24.1.1
isort==5.13.2